# Auto detect text files and perform LF normalization
* text=auto
ios/libkaldiwrap.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-chain.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-decoder.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-lat.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-nnet2.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-nnet3.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-tree.a filter=lfs diff=lfs merge=lfs -text
ios/libarc_lookahead-fst.a filter=lfs diff=lfs merge=lfs -text
ios/libfstlookahead.a filter=lfs diff=lfs merge=lfs -text
ios/libilabel_lookahead-fst.a filter=lfs diff=lfs merge=lfs -text
ios/libolabel_lookahead-fst.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-fstext.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-kws.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-sgmm2.a filter=lfs diff=lfs merge=lfs -text
ios/libfst.a filter=lfs diff=lfs merge=lfs -text
ios/libngram-fst.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-lm.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-matrix.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-transform.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-ivector.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-util.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-base.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-gmm.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-hmm.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-online2.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-rnnlm.a filter=lfs diff=lfs merge=lfs -text
ios/libfstngram.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-cudamatrix.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-feat.a filter=lfs diff=lfs merge=lfs -text
ios/kaldi-nnet.a filter=lfs diff=lfs merge=lfs -text
android/app/src/main/jniLibs/**/* filter=lfs diff=lfs merge=lfs -text
